<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorWebAppDemo.styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    @* /if we don't want to run prerendering this is a way to turn it off, by default is true. It is recommended to use it as true *@
    @* <Routes @rendermode="new InteractiveAutoRenderMode(prerender: false)"/> *@
    <Routes  />

    @* it is now globally interactive server *@
    @* <Routes @rendermode="InteractiveServer"/> *@


    @* if we use without directive, it will use SSR, not interactivty at all *@
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

</body>

</html>
