@Model.SomeText


<button @onclick="@(()=> Model.SomeText=DateTime.Now.ToLongTimeString())">Update Cascading Model</button>
<br />

@code {
    [CascadingParameter]
    public required CascadingModel Model { get; set; }
}
