@page "/Demos/navlinkdemo"

<h3>NavLinkDemo</h3>
<NavLink href="/Demos/navlinkdemo">This Page</NavLink>
<NavLink Match="NavLinkMatch.All" href="/Demos/navlinkdemo" >Otherlink</NavLink>
<NavLink ActiveClass="custom-class" Match="NavLinkMatch.Prefix" href="/demos/" >Otherlink demo</NavLink>
<NavLink  href="/counter" >Counter</NavLink>


@code {

}
